# Gradle
.gradle
build
# IntelliJ
.idea
out/
# Root Dir Jar
/*.jar
# Avoid Ignoring Gradle Jar
!gradle-wrapper.jar
!gradle-wrapper.properties
# Server Files
.server/
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
server-script.sh
